@{
    var homeUrl = Href("~/");
}
<div id="clouds"></div>		
<h1 id="logo-text"><a href="@homeUrl" title="">@WorkContext.CurrentSite.SiteName</a></h1>
<p id="slogan">Put your site slogan here...</p>		